:root {
    /* -----font-size------ */

    --text-sm: 16px;
    --text-md: 24px;
    --text-xl:48px;
    --text-3xl:64px;
    --text-2xl:60px;


    /* ------------font-color---- */

    --white-color: #FDFCFC;
    --light-white:#EFEFEF;
    --black-color: #000000;
    --purple-color: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
}

.bg-white {
    background: var(--white-color);
}
.bg-light-white{
    background: var(--light-white);
}
.bg-black{
    background: var(--black-color);
}
.fc-black {
    color: var(--black-color);
}
.fc-white{
    color: var(--white-color);
}
.bg-purple{
    background: var(--purple-color);
}

.fs-sm{
    font-size: var(--text-sm);
}
.fs-md{
    font-size: var(--text-md);
}
.fs-2xl{
    font-size: var(--text-2xl);
}
.fs-xl {
    font-size: var(--text-xl);
}
.fs-3xl {
    font-size: var(--text-3xl);
}
@media(max-width:992px){
    :root{
        --text-sm-: 14px;
            --text-md-: 16px;
            --text-xl: 38px;
            --text-3xl: 54px;
            --text-2xl: 50px;
    }
}
@media(max-width:992px) {
    :root {
        --text-sm-: 12px;
        --text-md-: 14px;
        --text-xl: 28px;
        --text-3xl: 44px;
        --text-2xl: 40px;
    }
}