@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url(/assets/css/root.css);


.font-family {
    font-family: "Plus Jakarta Display", sans-serif;
}

.max-w-1440px {
    max-width: 1440px;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.lh-26 {
    line-height: 26.1px;
}

.lh-24 {
    line-height: 24px;
}

.lh-66 {
    line-height: 66px;
}

.lh-70 {
    line-height: 70.4px;
}

.lh-52 {
    line-height: 52.8px;
}

.list-type {
    list-style-type: none;
}

.gap-32 {
    gap: 32px;
}

.links {
    opacity: 0.7;
}

.text-decroation {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline #a854e9;
    color: black;
    opacity: unset;
}

.ml-200 {
    margin-left: 200px;
}

.mt-30 {
    margin-top: 30px;
}

.btn {
    padding: 16px 42px;
    border-radius: 61px;
    border: none;
    z-index: 1;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

/* -----section-1----- */

.max-w-948 {
    max-width: 948px;
}

.heading {
    text-align: center;
    text-transform: capitalize;

}

.fc-purple {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.mt-50 {
    margin-top: 50px;
}


.content {
    opacity: 0.8;

}

.ml-40 {
    margin-left: 40px;
}

.mt-16 {
    margin-top: 16px;
}

.flex-column {
    flex-direction: column;
}

.shadow-box {
    padding: 22px 32.98px;
    max-width: 973px;
    background: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    backdrop-filter: blur(62px);
    border-radius: 12px;
    transform: translateY(-160px);
}

.year-box {
    gap: 12px;
    width: 206.71px;
}


.z-2 {
    z-index: 2;
}

.pl-2 {
    padding-left: 2px;
}

.gap-18 {
    gap: 18px;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.straight {

    width: 81px;
    height: 1px;
    transform: rotate(90deg);
    background: linear-gradient(270deg, rgba(253, 252, 252, 0) 0%, #FDFCFC 51.55%, rgba(253, 252, 252, 0) 100%);
}

.gap-52 {
    gap: 52px;
}

.img-circle-2 {
    transform: translateY(-300px);
    z-index: -1;
    left: 105px;
}

.img-circle-1 {
    transform: translateY(-60px);
    right: 105px;
    z-index: -1;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #A854E9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 25px;
    transition: opacity 0.3s;
    z-index: 1;
}

.cursor-ponier {
    cursor: pointer;
}

/* -----sectin-2----- */
.max-w-536 {
    max-width: 536px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.card-shadow {
    width: 200px;
    height: 200px;
    top: 280px;
    transform: translateX(280px);
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    filter: blur(112px);
    z-index: -10;
}

.mt-130 {
    margin-top: 130px;
}

.card-icon {
    position: absolute;
    width: 88px;
    height: 88px;
    transform: translateY(-340px);
    margin-left: 230px;
    border-radius: 92px;
    background: #FDFCFC;
    box-shadow: 0px 0px 17.6901px rgba(0, 0, 0, 0.16);
}

/* ------section-3----- */
.max-w-461 {
    max-width: 461px;
}

.box {
    padding: 12px;
    width: 462px;
    /* backdrop-filter: blur(26px); */
    border-radius: 16px;
    border: 0.5px solid#A854E9;
}

.box:hover {
    box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.12);
}

.circle-1 {
    width: 32px;
    height: 32px;

    background: linear-gradient(130.88deg, rgba(168, 84, 233, 0.12) -9.14%, rgba(79, 145, 252, 0.12) 283.16%);
    border-radius: 92px;

}



.mb-12 {
    margin-bottom: 12px;
}

/* -----section--4--- */
.card-1 {
    max-width: 364px;
    height: 270px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    padding: 20px 20px 44px 20px;
    z-index: 1;
}

.card-1:hover {
    border: none;
    box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.12);
}

.max-w-324 {
    max-width: 324px;
}

.circle-box {

    width: 72px;
    height: 72px;
    background: linear-gradient(130.88deg, rgba(168, 84, 233, 0.16) -9.14%, rgba(79, 145, 252, 0.16) 283.16%);
    border-radius: 80px;
}

.card-1:hover .circle-box svg path {
    fill: #FDFCFC;
    cursor: pointer;
}

.card-1:hover .circle-box {
    background: #A854E9;

}

/* -----section-5-- */
.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.max-w-666 {
    max-width: 666px;
}

.card {
    max-width: 558px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26px);
    border-radius: 16px;
    padding: 10px 6px 10px 10px;
    transition: all 200ms linear;

}

.card:hover {
    box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.12);
}

.gap-8 {
    gap: 8px;
}

.circle {

    width: 24px;
    height: 24px;
    background: linear-gradient(130.88deg, rgba(168, 84, 233, 0.16) -9.14%, rgba(79, 145, 252, 0.16) 283.16%);
    border-radius: 46px;


}

/* -------section-6=-------- */
.max-w-456 {
    max-width: 456px;
}

.ml-50 {
    margin-left: 50px;
}

.shadow-3 {
    bottom: 590px;
}

.shadow {
    position: absolute;
    width: 268.97px;
    height: 275.39px;
    right: 100px;
    bottom: 290px;
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    opacity: 0.5;
    filter: blur(182.413px);
    transform: rotate(39.86deg);
    z-index: -1;
}

.shadow-5 {
    top: 0;
    right: 70px;
    z-index: 1;
}

.shadow-6 {
    top: 180px;
}

.shadow-1 {
    height: 275.39px;
    right: 1109.53px;
    bottom: -29.39px;
    z-index: -1;


}

.shadow-top {
    top: 160px;
}

.shadow-top-1 {
    bottom: 40px;
    z-index: 1;
}

.shadow-top-2 {
    bottom: -100px;
    z-index: 1;
}

/* ------section-7------    */
.position-relative {
    position: relative;
}

.posiion-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-capital {
    text-transform: capitalize;
}

.max-w-792 {
    max-width: 792px;
    position: relative;
    z-index: 1;
}

.radius {
    border-radius: 16px;
    padding: 20px;
}

.btn-1 {
    background: var(--white-color);
    color: #A854E9;
    z-index: 1;
}

.btn-1:hover {
    background: #A854E9;
    color: #FDFCFC;
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.layer-1 {
    left: 0;
    right: 0;
    bottom: 80px;


}

.max-w-1140 {
    max-width: 1140px;
}

.layer {
    left: 0;
    top: 40px;
    right: 0;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;
}

.z-1 {
    z-index: 1;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.mb-40 {
    margin-bottom: 40px;
}

.purple-box {
    max-width: 1140px;
    width: 100%;
    border-radius: 16px;
    background: var(--purple-color);
}

/* -----footer------ */

.footer {
    backdrop-filter: blur(4px);
}

.link:hover {
    color: #A854E9;
}

.footer-content {
    opacity: 70%;
}

.icon-box:hover svg path {
    fill: #FDFCFC;
    cursor: pointer;
}

.icon-box:hover {
    background: #A854E9;

}

.pt-10 {
    padding-top: 10px;
}

.gap-12 {
    gap: 12px;
}

.icon-box {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-12 {
    padding-top: 12px;
}

.mt-12 {
    margin-top: 12px;
}

.max-w-385 {
    max-width: 385px;
}

.max-w-707 {
    max-width: 707px;
}

.line {
    width: 100%;
    border: 1px solid #A854E9;

}

.mb-24 {
    margin-bottom: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pt-99 {
    padding-top: 99px;
}

.justify {
    justify-content: space-between;
}

.space {
    margin-top: 30px;
}

.display {
    display: flex;
    gap: 32px;
}

@media(max-width:1240px) {

    .layer,
    .layer-1 {
        max-width: 90%;
    }



    .justify {
        justify-content: unset;
    }

    .gap-52 {
        gap: 20px;
    }


    .max-w-536 {
        max-width: none;
    }

    .center {
        text-align: center;
    }

    .shadow-box {
        max-width: 773px;
    }

}

@media(max-width:1200px) {
    .md-reverse {
        flex-direction: column-reverse;
    }

    .lg-center {
        justify-content: center;
        display: flex;
    }

    .mt-130 {
        margin-top: 0;
    }
}



@media (max-width:991.98px) {

    .menu-list {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: #A854E9;
        transition: right 200ms linear;
        z-index: 3;

        ul {
            flex-direction: column;

        }
    }

    .menu-list.show {
        right: 0;
    }

    .menu-icon {
        display: flex;
        width: 40px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 5;

        span {
            width: 100%;
            height: 5px;
            background-color: #00060C;
            border-radius: 4px;
            transition: all 200ms linear;
        }
    }

    .menu-icon.active span:first-of-type {
        transform: rotate(40deg);
        transform-origin: left;
    }

    .menu-icon.active span:nth-child(2) {
        height: 0;
    }

    .menu-icon.active span:last-of-type {
        transform: rotate(-40deg);
        transform-origin: left;
    }



    .ml-40 {
        margin-left: 0;
    }

    .width {
        width: 100%;
    }

    .md-center {
        justify-content: center;
        align-items: center;
    }

    .center {
        text-align: center;
    }

    .card-icon {
        width: 0;
    }

    .icon-shadow {
        display: none;
    }

    .max-w-385 {
        max-width: none;
    }

    .img-circle-2,
    .img-circle-1 {
        display: none;
    }

    .mt-90 {
        margin-top: 90px;
    }

    .shadow-box {
        max-width: 573px;
        transform: translate(-220px);
        
    }

    .display {

        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .ml-50 {
        margin-left: 0;
    }

    .ml-200 {
        margin-left: 0;
        margin-top: 20px;
    }

    .space {
        margin-top: 20px;
    }

}

@media(max-width:768px) {


    .lh-26 {
        line-height: 22.1px;
    }

    .lh-24 {
        line-height: 20px;
    }

    .lh-66 {
        line-height: 56px;
    }

    .lh-70 {
        line-height: 60.4px;
    }

    .lh-52 {
        line-height: 42.8px;
    }

    .py-130 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .py-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    .text-bottom {
        padding-bottom: 20px;
    }

    .shadow-box {
        display: none !important;
    }

    .margin-1 {
        margin-top: 50px;
    }

}

@media(max-width:567px) {

    .margin {
        margin-top: 30px;
    }

    .display {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}


